#r1
{
	background-color: grey;
	color:black;
	padding-left:10px;
}
#c1{
	margin:20px 40px 20px 40px;
	
}
#r2
{
	background-color:white;
	color:black;
	margin-top:30px;
	padding:10px 10px 10px 10px;
}